<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Display:
          Index.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

<f:if condition="{profiles} == 'true' || {imgdiv} == 'true'">
<f:then>
	<!-- GPXViewer map with Profiles/Imagediv -->
	<div id="c{uid}g" class="textpic textpic-{textpicPosition}">
		<div class="textpic-item textpic-gallery">
</f:then>
<f:else>
	<!-- GPXViewer map -->
	<div id="c{uid}g">
		<div>
</f:else>
</f:if>
			<!-- Map -->
			<div class="gpx-viewer viewer-{addClassname}">
				<div id="map{uid}" class="<f:if condition="{gpxAnimation} == 'true'">animated_{gpxFileAnimationIcon} </f:if>map gpxview:<f:if condition="{gpxFile} != ''"></f:if>{gpxFile}:{gpxMapType}" style="width: 100%; height: 100%;">
					<noscript><p><f:translate key="template.javascriptWarning" /></p></noscript>
				</div>
			</div>
		<f:if condition="({gpxMap_img} == 'true' && {gpxMapImages} != '') || {gpxMapCoordsCenter} != ''">
			<!-- Waypoints with images -->
			<div id="map{uid}_img" <f:if condition="{gpxMapCoordsCenter} != ''"><f:format.raw>{gpxMapCoordsCenter}</f:format.raw></f:if>style="display:none">
				<f:format.raw>{gpxMapImages}</f:format.raw>
			</div>
		</f:if>
		<f:if condition="{gpxMap_wayp} == 'true' && {gpxMapIcons} != ''">
			<!-- Waypoints with icons -->
			<div id="map{uid}_wp" <f:if condition="{gpxMapCoordsCenter} != ''"><f:format.raw>{gpxMapCoordsCenter}</f:format.raw></f:if>style="display:none">
				<f:format.raw>{gpxMapIcons}</f:format.raw>
			</div>
		</f:if>
		</div>

	<f:if condition="{imgdiv} == 'true'">
		<!-- Bilder div for display of images from waypoints with images -->
		<div id="map{uid}_images" data-scale="{gpxMap_imgdivScale}" class="textpic-item textpic-text" >
			<div class="gpx-viewer-images-border images-{addClassname}">
				<div class="btn-group btn-block btn-group-sm buttonsbackground">
					<button type="button" class="btn previous"><f:translate key="template.previous" /></button><button type="button" class="btn next"><f:translate key="template.next" /></button>
				</div>
				<div>
					<figure class="gpx-viewer-figure">
						<img alt=" " class="gpx-viewer-img">
						<figcaption class="gpx-viewer-figure-caption"></figcaption>
					</figure>
				</div>
			</div>
		</div>
	</f:if>

	<f:if condition="{profiles} == 'true'">
		<!-- Profiles -->
		<div id="map{uid}_profiles" class="textpic-item textpic-{profilesType} profiles-{addClassname}" <f:if condition="{imgdiv} == 'true'">style="width: 100%;"</f:if>>
			<div class="gpx-viewer-profiles">
				<table class="table table-borderless">
					<tr>
					<f:for each="{profilesNameArray}" as="profile" iteration="pCount">
						<td style="padding: 2px;">
							<div id="map{uid}_{profile}" class="gpx-viewer-profile" style="width: 100%; height: {profileHeight};">
							</div>
						</td>
						<f:if condition="{pCount.cycle} % {profilesCols} == 0">
					</tr>
					<tr>
						</f:if>
					</f:for>
					</tr>
				</table>
			</div>
		</div>
	</f:if>
	</div>

	<f:if condition="{gpxDescriptionToggle}=='true' && {gpxFileDescription} != ''">
		<!-- Description -->
		<div id="c{uid}d" class="gpx-viewer-description">
			<f:format.html>{gpxFileDescription}</f:format.html>
		</div>
	</f:if>
	<f:if condition="{gpxDownloadLink}=='true' && {gpxFilesCount} == '1' && {gpxFile} != ''">
		<!-- Download link (only for a single GPX file!) -->
		<div id="c{uid}l" class="gpx-viewer-download">
			<a href="<f:uri.image src="{gpxFile}" />"><span class="glyphicon glyphicon-download-alt"></span> <f:translate key="template.downloadlabel" /></a>
		</div>
	</f:if>

{namespace m=Wok\WokGpxviewer\ViewHelpers}
<m:includeFile path="{settings.jsSourceFile}" footer="true">Bindet GPXViewer GPX2GM.js einmalig im Footer ein</m:includeFile>
<f:if condition="{imgdiv} == 'true' || {gpxAnimation} == 'true'">
	<m:includeFile path="{settings.jsSourceAdditionalJS}" footer="true">Bindet benötigten Code für die Darstellung von Animationen UND Bildern zu Markern auf EINER Seite ein.</m:includeFile>
</f:if>
<f:if condition="{settings.shimg} == 'true'">
	<m:includeFile path="{settings.jsSourceFile4shimg}" footer="true">Bindet im Footer Javascript für die animierte Darstellung von Image-Wegpunkten ein.</m:includeFile>
</f:if>
<m:GpxviewerSettings jsSettings="{jsSettings}">Bindet im Footer alle Definitionen für GPXViewer ein.</m:GpxviewerSettings>
</f:section>
</html>