//
// Variables
//
$gpxviewer-height:		600px !default;
$gpxviewer-profiles-height:	600px !default;
$gpxviewer-images-height:	600px !default;
$gpxviewer-width:		100% !default;
$gpxviewer-theme: '../../../../../bootstrap_package/Resources/Public/Scss/Theme/theme' !default;